body {
    background-color: #a5d8ff ;
}

.post-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 900px;
    margin: 20px auto;
}

.title {
    text-align: center;
    max-width: 900px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    font-size: 28px;
}

.bg-pink {
    background-color: #faa8c5  ;
}

.bg-white {
    background-color: #ffffff;
}

.text-gray {
    color:darkslategray
}
.card {
    border-radius: 8px;
    padding: 20px;
    text-align: center;
}

.btn {
    color:rgb(255, 255, 255);
    font-size: medium;
    text-decoration: none;
    margin: 6px;
    padding: 8px;
    border-radius: 4px;
    background-color: #640c45;
    border-style: none;
}

.frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.frame video {
  max-width: 100%;
  height: auto;
  display: block;
}

.btn:hover {
    background-color:rgb(255, 0, 217);
    transition: ease 0.5s all;
}

@media (max-width: 600px){
.post-container{
    grid-template-columns: 1fr;  
}


.post-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.btn {
    display: block;
    text-align: center;
}
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.container {
    display: flex;
    max-width: 1000px;
    margin: auto;
    gap: 20px;
}

.left {
    width: 30%;
    background-color: #faa8c5;
    padding: 20px;
    border-radius: 10px;
}

.right {
    width: 70%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

.profile img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.footer {
    text-align: center;
    margin-top: 50px
}

.foto-bawah {
    max-width: 1000px;
    margin: 30px auto;
    text-align: center;
}

.foto-bawah img {
    width: 300px;
    border-radius: 10px;
}


.foto-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.foto-item img {
    width: 100%;
    aspect-ratio: 1/1; 
    object-fit: cover;
    border-radius: 10px;
}

body {
    background-color: #a5d8ff;
    font-family: Arial, sans-serif;
}


.title {
    text-align: center;
    background-color: #faa8c5;
    padding: 15px;
    border-radius: 10px;
    max-width: 900px;
    margin: 20px auto;
}


.member-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1000px;
    margin: auto;
}


.card {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}


.bg-pink {
    background-color: #faa8c5;
}


.card img {
    width: 100%;
    max-width: 250px;
    border-radius: 10px;
    margin: 10px 0;
}

.btn {
    background-color: #640c45;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #ff00d9;
}

.center {
    text-align: center;
    margin: 20px;
}

@media (max-width: 600px){
    .member-container {
        grid-template-columns: 1fr;
    }
}

